.goals {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  padding: 5vw;
}
.goals div {
  background-color: rgb(77, 255, 0);
  width: 30%;
  height: 30vh;
  text-align: center;
}
.genderEquality:hover {
  border: 1px solid green;
}
