.goals {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  padding: 5vw;
}
@media (prefers-color-scheme: dark){
  .goals div {
    width: 30%;
    height: 30vh;
    text-align: center;

  }
  .genderEquality {
    background-color: rgb(46, 4, 80)
  }

  .environment {
    background-color: rgb(2, 75, 38)
  }

  .energy {
    background-color: rgb(94, 0, 0)
  }

}
.goals div:hover {
  border: 1px solid green;
}

.summary {
  border: 3px solid purple;
}

@media (prefers-color-scheme: light) {
  .goals div {
    width: 30%;
    height: 30vh;
    text-align: center;
    color: white;
  }

  .genderEquality {
    background-color: purple;
  }
  .genderEquality:hover {
    border: 1px solid green;
    
  }
  
  .environment {
    background-color: rgb(16, 162, 16);
  }
  .energy {
    background-color: rgb(217, 154, 27);
  }
  
  .summary {
    border: 3px solid purple;
  }
}
.navButtons {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0vh;
  right: 0vw;
}
.navButtons button {
  background-color: rgb(202, 198, 198);
}

h1 {
  padding-left: 3%;
}

h3 {
  font-size: 26px;
  padding-left: 3%;
}

h4 {
  padding-left: 3%;
  padding-right: 4%;
}
pre {
  font-size: 16px;
  padding-left: 1.5%;
}

.p1 p {
  padding-left: 3%;
  font-size: 20px;
}

p {
  font-size: 16px;
  padding-left: 3%;
  padding-right: 4%
}

.summary {
  padding-left: 3%;
  padding-right: 4%;
}