.goals {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  padding: 5vw;
  
  
}
@media (prefers-color-scheme: dark){
  .goals div {
    width: 25vw;
    height: 25vw;
    text-align: center;

  }
  .genderEquality { 
    background-image: url('assets/equal.png');
    background-color: rgb(46, 4, 80);
   
  }

  .environment {
    background-color: rgb(2, 75, 38)
  }

  .energy {
    background-color: rgb(94, 0, 0)
  }

}
.goals div:hover {
  border: 1px solid black;
}

.summary {
  
  color: white;
  background-color: rgb(233, 154, 233);
  height: 20vh;
  margin: 0 10vw;
  padding: auto;
  
}

@media (prefers-color-scheme: light) {
  html {
    background-color: black;
    
  }
  .goals div {
    width: 24vw;
    height: 20vw;
    text-align: center;
    color: white;
  }

  .genderEquality { 
    
    background: url('assets/equal.png') no-repeat;
    background-size: calc(100% - 130px);
    background-color: purple;
    background-position: center;
    
    
    
  }
  .genderEquality:hover {
    border: 1px solid green;
    
  }
 
  
  .environment {
    
    background: url('assets/climate.png') no-repeat;
    background-size: calc(100% - 130px);
    background-position: center;
    background-color: rgb(16, 162, 16);
  }
  .energy {
    
    background: url('assets/energy.png') no-repeat;
    background-size: calc(100% - 130px);
    background-position: center;
    background-color: rgb(217, 154, 27);
  }
  
  .summary {
    background-color: rgb(137, 207, 240);
  }
}
.navButtons {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0vh;
  right: 0vw;
}
.navButtons button {
  background-color: rgb(202, 198, 198);
}

h1 {
  padding-left: 3%;
}

h3 {
  font-size: 26px;
  padding-left: 3%;
}

h4 {
  padding-left: 3%;
  padding-right: 4%;
}
pre {
  font-size: 16px;
  padding-left: 3%;
}

.p1 {
  padding-left: 3%;
  font-size: 18px;
}

p {
  font-size: 16px;
  padding-left: 3%;
  padding-right: 4%
}

.summary {
  padding-left: 3%;
  padding-right: 4%;
}